
.slider{
    position: relative;
    height: 752px;
    width: 100%;

}

.slides{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.slide{
    transition: transform 0.7s ease-in-out,opacity 0.5s ease;
    flex-shrink: 0;
    &:not(:last-child){
        
        margin-right: 20px;
    }
}
.slide.active{
    opacity: 1;
}

.slide.inactive{

    opacity: 0.15;
}

.spacingVisibale-left{
    min-width: 290px;
    margin-right: 20px;
    flex-shrink: 1;
} 

.spacingVisibale-right{
    min-width: 290px;
    margin-left: 20px;
    flex-shrink: 1;
}


.dots {
 position: absolute;
 flex-shrink: 0;
 bottom: 10px;
    width: 100vw;
  justify-content: center;
  display: flex;
  gap: 8px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .dot.active {
    opacity: 1;
    background-color: rgba(31, 41, 55, 1);
  }
